/* root */
* {
  font-family: "Ubuntu Sans", Arial, Helvetica, sans-serif;
  /* font-size: 1.15rem; */
  color: #EDE6D9;
}

/* body */
body {
  background-color: #060A0D;
}

/* navbar */
nav {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 2rem;
}

#headertext {
  flex: 1;
  font-family: "Ubuntu";
  font-weight: 300;
  font-size: 2rem;
  padding: 0.625rem;
  transition: all 0.2s;
}

#navlink {
  font-size: 1.5rem;
  padding: 14px 10px;
  margin-left: 1rem;
}

#navlink,
a {
  background-color: rgba(0, 0, 0, 0);
  border: none;
  text-decoration: none;
  transition: all 0.2s;
}

#navlink:hover,
a:hover,
#headertext:hover {
  color: #fff9ef;
  text-shadow: 0 0 10px #ede6d99e;
  cursor: pointer;
}

#navlink:hover,
a:hover {
  text-decoration: underline;
}

/* Main Content*/
#herotext {
  margin-bottom: 2rem;
  font-size: 2.5rem
}

.wrapper {
  display: flex;
  /* justify-content: center; */
  margin: 0 10rem;
  padding: 0.5rem 10rem 3rem 10rem;
}

.wrappertext{
  order: 1;
}
.intro {
  font-size: 1.25rem;
  text-align: left;
  padding-right: 5rem;
  margin-bottom: 2rem;
}

.box {
  display: flex;
  justify-content: center;
  background-color: #7A160D;
  border-radius: 1rem;
  /* width: fit-content; */
  font-size: 1.25rem;
  padding: 2rem 5rem 2rem 3rem;
  margin: 2rem 30rem;
  /* box-shadow: red 0 0 30px; */
}

li {
  margin-bottom: .25rem;
}

/* main image */
.img {
  /* width: 20rem; */
  height: 20rem;
  border-radius: 1rem;
  object-fit: cover;
  /* box-shadow: aliceblue 0 0 30px; */
}

.wrapperimage {
  order: 2;
  align-self: flex-end;
}

/* footer */
footer {
  font-size: 1rem;
  text-align: center;
  margin: 3rem 0;
}

/* media queries (my device is 345px wide)*/
@media screen and (max-width: 1200px) {
  nav {
    flex-direction: column;
  }

  #headertext {
    margin-bottom: 0px;
  }

  #navlink {
    margin: 0;
    padding-bottom: 0;
    text-decoration: underline;
  }

  /* media query: Main Content*/
  #herotext {
    margin-bottom: 2rem;
    font-size: 2rem
  }
  .wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 0 1rem;
    padding: 0.5rem 1rem 3rem 1rem;
  }
  .wrappertext {
    order: 2;
  }
  .intro {
    font-size: 1.125rem;
    text-align: left;
    padding-right: 1rem;
    margin-bottom: 2rem;
  }

  .box {
    display: flex;
    justify-content: center;
    background-color: #7A160D;
    border-radius: 1rem;
    /* width: fit-content; */
    font-size: 1.125rem;
    padding: 1rem 2rem 1rem 0.75rem;
    margin: 0;
    box-shadow: rgba(255, 70, 70, 0.429) 0 0 30px;
  }

  li {
    margin-bottom: .25rem;
  }

  /* main image */
  .img {
    /* width: 20rem; */
    height: 15rem;
    border-radius: 1rem;
    object-fit: cover;
    /* padding: 0 1rem; */
    /* justify-content: center; */
    box-shadow: rgba(240, 248, 255, 0.429) 0 0 30px;
  }

  .wrapperimage {
    margin-top: 2rem;
    order: 1;
    align-self: center;
  }

  /* footer */
  footer {
    font-size: 1rem;
    text-align: center;
    margin: 3rem 0;
  }
}