body {
  background-image: url('resources/images/bg.jpg');
  background-color: black;
}

/* titles */
.k1 {
  font-family: Teko;
  font-weight: semibold 600;
  color: antiquewhite;
}

.k2 {
  font-family: montserrat;
  font-weight: 900;
  font-style: bold;
  font-size: 30px;
  margin-bottom: none;
  color: antiquewhite;
}

/* the body styles */
.header {
  text-align: center;
  font-family: Teko;
  font-weight: medium 500;
  font-size: 30px;
  color: antiquewhite;
}

.mid {
  margin-left: 100px;
  font-family: Montserrat;
  font-size: 24px;
  color: antiquewhite;
}

.bot {
  text-align: center;
  font-family: Montserrat;
  font-size: 24px;
  color: antiquewhite;
}

/* the cat image styles */
.center {
  display: flex;
  justify-content: center;
  align-items: center;
  height: fit-content;
}

img {
  width: 300px;
  object-fit: cover;
}

/* github button */
.link1 {
  font-family: Montserrat;
  text-decoration: none;
  color: rgb(255, 185, 80);
  transition: color 0.2s;
}

.link1:hover {
  color: rgb(255, 227, 85);
  text-decoration: underline;
}

.btn {
  padding: 10px 20px;
  border-radius: 30px;
  border-color: rgb(211, 146, 255);
  background-color: rgba(255, 255, 255, 0.2);
  color: rgb(211, 146, 255);
  font-family: montserrat;
  font-style: bold;
  font-weight: 800;
  font-size: 20px;
  margin-top: 20px;
  transition: background-color 0.2s;
}

.btn:hover {
  background-color: rgb(186, 84, 255);
  color: white;
}