/* root */
*{
  font-family: "Ubuntu Sans", Arial, Helvetica, sans-serif;
  /* font-size: 1.15rem; */
  color: #EDE6D9;
}

/* body */
body{
  background-color: #060A0D;
}

p{
  font-size: 1.25rem;
}

/* nav */
nav{
  display: flex;
  justify-content: center;
  align-items:center;
  padding: 0 1rem;
}
#headertext{
  flex: 1;
  font-family: "Ubuntu";
  font-weight: 300;
  font-size: 2rem;
  padding: 0.625rem;
  transition: all 0.2s;
}
a{
  font-size: 1.5rem;
  padding: 14px 10px;
  margin-left: 10px;
  background-color: rgba(0,0,0,0);
  border: none;
  text-decoration: none;
  transition: all 0.2s;
}
a:hover, #headertext:hover{
  color: #fff9ef;
  text-shadow: 0 0 10px #ede6d99e;
  cursor: pointer;
}
a:hover{
  text-decoration: underline;
}
/* Grid */
.wrapper{
  display: flex;
  justify-content: center;
  margin: 0 10rem;
  padding: 0.5rem 10rem 3rem 10rem;
}
/* .wrappertext{
  padding: 0.5rem 1rem;
} */
.intro{
  font-size: 1.25rem;
  text-align: left;
  padding-right: 5rem;
  margin-bottom: 2rem;
}

.box{
  display: flex;
  justify-content: center;
  background-color: #cd282d;
  border-radius: 10px;
  /* width: fit-content; */
  font-size: 1.25rem;
  padding: 2rem 5rem 2rem 3rem;
  margin: 2rem 30rem;
  /* box-shadow: red 0 0 30px; */
}

li{
  margin-bottom: .25rem;
}

/* main image */
.img{
  /* width: 20rem; */
  height: 20rem;
  border-radius: 1rem;
  object-fit: cover;
  /* box-shadow: aliceblue 0 0 30px; */
}
.wrapperimage{
  align-self: flex-end;
}